{% extends "base.html" %}

{% block "title" %}
<title>Successful Withdrawal!</title>
{% endblock %}


{% block "content" %}
<section class="section">
    <p>
        Withdrawal successfully initiated! Send Stellar transaction now.
    </p>

    <script type="text/javascript">
        function postTransactionCallback() {
            var targetWindow, transaction;

            if (window.opener != void 0) {
                targetWindow = window.opener;
            } else if (window.parent != void 0) {
                targetWindow = window.parent;
            } else {
                return;
            }

            // NOTE: make sure to keep the single quotes on the following line
            // as this will be rendered as a serialized JSON by Django.
            transaction = JSON.parse('{{ tx_json|safe }}');
            targetWindow.postMessage(transaction, "*");
        }

        postTransactionCallback();
    </script>
</section>
{% endblock %}