{% extends "base.html" %}

{% block "title" %}
<title>Interactive Deposit Info Form</title>
{% endblock %}


{% block "content" %}
<section class="section">
  <p>
    This is the interactive deposit flow. Please enter the amount you would like to deposit.
  </p>
  <br />
  <form method="post" action="{{ post_url }}">
    {% csrf_token %}

    {% for field in form %}
      <div class="field">
        {% if field.name == 'amount' %}
          <label>
            <div class="label">{{ field.label }}</div>
            <div class="control has-icons-left">
              <div class="icon">$</div>
              {{ field }}
            </div>
          </label>
        {% else %}
          <label>
            <div class="label">{{ field.label }}</div>
            <div class="control"> {{ field }} </div>
          </label>
        {% endif %}

        {% if field.errors %}
        <p class="help is-danger">
          {% for error in field.errors %}
          {{ error }}
          {% endfor %}
        </p>
        {% endif %}

      </div>
    {% endfor %}

    <div class="field at-bottom">
      <div class="control">
        <button class="button" type="submit">Submit</button>
      </div>
    </div>
  </form>
</section>
{% endblock %}
