{% extends "base.html" %}

{% block "title" %}
<title>{% if title %} {{ title|safe }} {% else %} Interactive Deposit Info Form {% endif %}</title>
{% endblock %}


{% block "content" %}
<section class="section">
  {% if guidance %}
    <i>{{ guidance|safe }}</i>
  {% else %}
    <i>Please fill out the fields below.</i>
  {% endif %}

  <form method="post" action="{{ post_url }}">
    {% csrf_token %}

    {% for field in form %}
      <div class="field">
        <label>
          <div class="label">{{ field.label }}</div>
          <div class="control"> {{ field }} </div>
        </label>

        {% if field.errors %}
        <p class="help is-danger">
          {% for error in field.errors %}
          {{ error }}
          {% endfor %}
        </p>
        {% endif %}

      </div>
    {% endfor %}

    <div class="field at-bottom">
      <div class="control">
        <button class="button" type="submit">Submit</button>
      </div>
    </div>
  </form>
</section>
{% endblock %}
