DJANGO_SECRET_KEY="secretkeykeysecret"
DJANGO_DEBUG=False

# The private key to use to sign and verify SEP-10 authentication transactions.
# If not specified, Polaris will use the first listed asset's distribution
# account seed, although you should really use a keypair independent of
# your anchored assets.
SIGNING_SEED="SCY4F6VEIIPXPLTNQSFT5427H64YK3H3LB27H7WAOVDQSV2UACRWTPGM"

# STELLAR_NETWORK_PASSPHRASE can either be "Test SDF Network ; September 2015" or
# "Public Global Stellar Network ; September 2015" or a custom passphrase
# if you're using a private network.
STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"

# HORIZON_URI can point to a custom Horizon URI. It currently points
# to the testnet URL.
HORIZON_URI="https://horizon-testnet.stellar.org/"

SERVER_JWT_KEY="secret"

HOST_URL="https://example.com"
