[run]
source =
  polaris
omit =
  *admin.py,
  *apps.py,
  *migrations/*,
  *settings*,
  *tests/*,
  *urls.py,
  *wsgi.py,
  *collectstatic/*,
  *manage.py,
  *.venv/*
  *.local/*

[report]
exclude_lines =
  pragma: no cover
