DJANGO_SECRET_KEY="secretkeykeysecret"
DJANGO_DEBUG=True
STELLAR_DISTRIBUTION_ACCOUNT_SEED="SCHTHF3N4SHEQM25M43FJ43UTCZP6OO3JKYVJCJBZ4YW6KVVAGC2OUCT"
STELLAR_ISSUER_ACCOUNT_ADDRESS="GCTVATNFP4FYKZ7BXZ3EOPVKEL2DGDCB2AVBDUNLW7NYR7REF5PMKY4V"
REDIS_URL="redis://redis:6379"

# STELLAR_NETWORK can either be "TESTNET" or "PUBLIC".
STELLAR_NETWORK="TESTNET"
# HORIZON_URI can point to a custom Horizon URI. It currently points
# to the testnet URL.
HORIZON_URI="https://horizon-testnet.stellar.org/"
SERVER_JWT_KEY="secret"
