version: "3"

services:
  db:
    build: .
    volumes:
      - ./polaris/polaris:/code/polaris/polaris
      - ./example/server:/code/server
      - ./example/data:/code/data
    command: ./db-init.sh
  server:
    container_name: server
    build: .
    volumes:
      - ./polaris/polaris:/code/polaris/polaris
      - ./example/server:/code/server
      - ./example/data:/code/data
    ports:
      - "8000:8000"
    command: watchmedo auto-restart --recursive --pattern="*.py" --directory="." python manage.py runserver -- --nostatic 0.0.0.0:8000
    depends_on:
      - db
  watch_transactions:
    container_name: watch_transactions
    build: .
    volumes:
      - ./polaris/polaris:/code/polaris/polaris
      - ./example/server:/code/server
      - ./example/data:/code/data
    depends_on:
      - server
    command: watchmedo auto-restart --recursive --pattern="*.py" --directory="." python manage.py watch_transactions
  poll_pending_deposits:
    container_name: poll_pending_deposits
    build: .
    volumes:
      - ./polaris/polaris:/code/polaris/polaris
      - ./example/server:/code/server
      - ./example/data:/code/data
    depends_on:
      - server
    command: watchmedo auto-restart --recursive --pattern="*.py" --directory="." python manage.py poll_pending_deposits -- --loop
  poll_outgoing_transactions:
    container_name: poll_outgoing_transactions
    build: .
    volumes:
      - ./polaris/polaris:/code/polaris/polaris
      - ./example/server:/code/server
      - ./example/data:/code/data
    depends_on:
      - server
    command: watchmedo auto-restart --recursive --pattern="*.py" --directory="." python manage.py poll_outgoing_transactions -- --loop
  execute_outgoing_transactions:
    container_name: execute_outgoing_transactions
    build: .
    volumes:
      - ./polaris/polaris:/code/polaris/polaris
      - ./example/server:/code/server
      - ./example/data:/code/data
    depends_on:
      - server
    command: watchmedo auto-restart --recursive --pattern="*.py" --directory="." python manage.py execute_outgoing_transactions -- --loop
  sign_multisig_transactions:
    container_name: sign_multisig_transactions
    build: .
    volumes:
      - ./polaris/polaris:/code/polaris/polaris
      - ./example/server:/code/server
      - ./example/data:/code/data
    depends_on:
      - server
    command: watchmedo auto-restart --recursive --pattern="*.py" --directory="." python manage.py sign_multisig_transactions -- --loop
