[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pipenv-setup = "*"
readthedocs-sphinx-ext = "<1.1"
sphinx = "<2"
sphinx-rtd-theme = "<0.5"
codecov = "*"
pipenv-to-requirements = "*"
watchdog = "*"

[packages]
django = "==2.2.8"
django-environ = "*"
django-model-utils = "*"
djangorestframework = "*"
whitenoise = "*"
psycopg2-binary = "*"
stellar-sdk = "==2.0.0"
django-cors-headers = "*"
toml = "*"
pyjwt = "*"
django-sslserver = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"

[requires]
python_version = "3.7"
