[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
black = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
coveralls = "*"
pipenv-setup = "*"

[packages]
django = "==2.2.4"
django-environ = "*"
django-model-utils = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"
stellar-sdk = "==2.0.0b4"
django-cors-headers = "*"
toml = "*"
pyjwt = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
