@import "reset.scss";
@import "normalize.scss";
@import "colors.scss";
@import "form-styles/forms.scss";

html {
  font-size: 16px;
  background-image: linear-gradient(to bottom, $gradient-start, $gradient-end);
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 15rem;
  box-sizing: border-box;
  font-family: $main-typeface;

  & *,
  & *:before,
  & *:after {
    box-sizing: inherit;
  }
}

.bottom {
  padding-bottom: 2rem;
  margin: auto;
}

.main-content {
  overflow-x: hidden;
}

.navbar {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  margin: auto;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding: 1rem;
  max-width: 25rem;
  margin: auto;
}

.receipt label {
  font-variant: small-caps;
  font-weight: bold;
}
