$white: #ffffff;

$dark-gray: #07070b;
$light-gray: #727b84;
$lightest-gray: #94a0ac;

$light_-2: #ffffff;
// $light_-1: ;
$light_0: #bdc9d4;
// $light_1: ;
$light_2: #94a0ac;

$alpha-light_-2: rgba($light_-2, 0.35);
// $alpha-light_-1: rgba($light_-1, .35);
$alpha-light_0: rgba($light_0, 0.35);
// $alpha-light_1: rgba($light_1, .35);
$alpha-light_2: rgba($light_2, 0.35);

$dark_-2: #94a0ac;
$dark_-1: #565a75;
$dark_0: #303346;
$dark_1: #1a1b22;
$dark_2: #07070b;

$alpha-dark_-2: rgba($dark_-2, 0.35);
$alpha-dark_-1: rgba($dark_-1, 0.35);
$alpha-dark_0: rgba($dark_0, 0.35);
$alpha-dark_1: rgba($dark_1, 0.35);
$alpha-dark_2: rgba($dark_2, 0.35);

// $success_-2: ;
// $success_-1: ;
$success_0: #0dbb9c;
// $success_1: ;
// $success_2: ;

// $primary_-2: ;
// $primary_-1: ;
$primary_0: #33e1ff;
// $primary_1: ;
// $primary_2: ;

// $danger_-2: ;
// $danger_-1: ;
$danger_0: #e64755;
// $danger_1: ;
// $danger_2: ;
