{% if widget.attrs.class == 'polaris-transaction-form-amount' %}
<div class="icon">{{ widget.attrs.symbol }}</div>
{% endif %}
<input class="form-control {{widget.attrs.class}}" type="{{ widget.type }}" name="{{ widget.name }}" placeholder="{% if widget.attrs.class == 'polaris-transaction-form-amount' and widget.placeholder == None %}0{% else %}{{widget.placeholder|stringformat:'s'|default:' '}}{% endif %}" {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}" {% endif %} {% include "django/forms/widgets/attrs.html" %} >
