$main-typeface: "Cabin", sans-serif;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;

$gradient-start: $dark_0;
$gradient-end: $dark_1;

$card-color: $alpha-dark_2;
$card-color: $alpha-dark_2;
$secondary-card-gradient1: $dark-gray;

$text-color: $white;

$border-radius: 0.75rem;

$input-main-color: $light_-2;
$input-focus-color: $primary_0;
$input-color: $alpha-dark_2;
$input-placeholder-color: $dark_-2;

$radio-bullet-color: $dark_-2;
$radio-bg-color: $input-color;
$radio-size: 2rem;
$bullet-size: 1rem;
$radio-font-size: 18/16 + rem;
