@import "reset.scss";
@import "normalize.scss";
@import "colors.scss";
@import "form-styles/forms.scss";

html {
  font-size: 16px;
  background-image: linear-gradient(to bottom, $gradient-start, $gradient-end);
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 15rem;
  box-sizing: border-box;
  font-family: $main-typeface;

  & *,
  & *:before,
  & *:after {
    box-sizing: inherit;
  }
}

.bottom {
  padding-bottom: 2rem;
  margin: auto;
}

img.logo {
  width: 150px;
  height: 100px;
  object-fit: contain;
}

.main-content {
  overflow-x: hidden;
}

.navbar {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  margin: auto;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding: 1rem;
  max-width: 25rem;
  margin: auto;
}

.info-item--inline {
  &.info-item {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .info-label {
    padding-right: 0.5rem;
    padding-bottom: 0;
  }
  .info-value {
    font-size: 14/16 + rem;
  }
}

.info-item {
  padding: 0.75rem 0;

  &.info-item--highlight {
    border-top: 0.0625rem solid rgba($light_-2, 0.1);
    line-height: 1.5;
    .info-label {
      color: $light_-2;
    }

    .info-value {
      color: $light_-2;
    }
  }
}

.info-label {
  text-transform: capitalize;
  color: $lightest-gray;
  font-size: 14/16 + rem;
  line-height: 1;
  padding-bottom: 0.25rem;
}

.info-value {
  font-size: 1rem;
  color: $light_-2;
}

.polaris-fee-table {
  width: 100%;
  border-collapse: collapse;
  line-height: 2;
  background-color: rgba(7, 7, 11, 0.35);
  border-radius: 0.75rem;
}
.polaris-fee-row {
  border-bottom: 1px solid white;
}
.polaris-fee-label {
  padding-left: 1rem;
}
.polaris-fee-total-label {
  padding-left: 1rem;
}
.polaris-fee-value {
  text-align: right;
  padding-right: 1rem;
}
.polaris-fee-total-value {
  text-align: right;
  padding-right: 1rem;
}
