{% extends "polaris/more_info.html" %} {% load i18n %} {% load tz %}

{% block "instructions" %}
{% if transaction.status == "pending_user_transfer_start" and "deposit" in transaction.kind %}

<div class="info-item">
    <div class="info-label">
        {% trans "instructions" %}
    </div>
    <div class="field-value">
        <p>{% trans "Include this code as the memo when making the deposit:" %} <strong>{{ memo }}</strong>. {% trans "We will use this memo to identify you as the sender." %}</p>
        <br>
        <p>{% trans "(This deposit is automatically confirmed for demonstration purposes. Please wait.)" %}</p>
    </div>
</div>

{% endif %}
{% endblock %}
