{% extends "base.html" %}

{% block "title" %}
<title>Transaction More Info</title>
{% endblock %}

{% block "content" %}
<section class="section">
    <p>
        <strong>{{ data.kind }}</strong> transaction with ID <strong>{{ data.id }}</strong>, amount
        <strong>{{data.amount}}</strong> of asset <strong>{{data.asset}}</strong> has status
        <strong>{{ data.status }}</strong>. It started at {{ data.started_at }} and completed at
        {{ data.completed_at }}.
    </p>
</section>
{% endblock %}