{% extends "base.html" %}

{% block "title" %}
<title>Transaction More Info</title>
{% endblock %}

{% block "content" %}
<section class="section">
    <p id="message">
        Transaction of kind <strong>{{ transaction.kind }}</strong> with ID <strong>{{ transaction.id }}</strong>,
        amount <strong>{{transaction.amount_in}}</strong> of asset <strong>{{ asset_code }}</strong> has status
        <strong>{{ transaction.status }}</strong>. It started at {{transaction.started_at}} and completed at
        {{transaction.completed_at}}
    </p>
    {% if transaction.status != "completed" %}
    {% if transaction.kind == "deposit" %}
    <button type="button" class="btn btn - primary" onclick="submitExternal()">Admin: Confirm external
        transaction.</button>
    {% endif %}
    <button type="button" class="btn btn - primary" onclick="location.reload(true);">Refresh transaction data.</button>
    {% endif %}

    <script type="text/javascript">
        var tx_json = JSON.parse('{{ tx_json|safe }}');
        var transaction = tx_json["transaction"];

        postTransactionCallback();

        // Callback function to post the serialized transaction to the wallet.
        function postTransactionCallback() {
            var targetWindow;

            if (window.opener != void 0) {
                targetWindow = window.opener;
            } else if (window.parent != void 0) {
                targetWindow = window.parent;
            } else {
                return;
            }

            // NOTE: make sure to keep the single quotes on the following line
            // as this will be rendered as a serialized JSON by Django.
            targetWindow.postMessage(tx_json, "*");
        }

        // Confirm an uncompleted deposit transaction.
        function submitExternal() {
            var transactionId, amount, xhr;
            transactionId = transaction["id"];
            amount = transaction["amount_in"];
            xhr = new XMLHttpRequest();
            xhrUrl = '/deposit/confirm_transaction?transaction_id=' + transactionId + '&amount=' + amount;
            xhr.open('get', xhrUrl, true);
            xhr.onload = function () {
                if (this.status >= 200 && this.status < 400) {
                    postTransactionCallback();
                }
            }
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            xhr.send();
            document.location.reload(true);
        }
    </script>
</section>
{% endblock %}