name: Publish to PyPI

on:
  release:
    types: [created]
  workflow_dispatch: {}

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Python
        run: sudo apt-get update && sudo apt-get install -y python3.10-dev python3.10-venv
      - name: Install Poetry
        run: |
          sudo mkdir -p /usr/local/poetry
          sudo python3.10 -m venv /usr/local/poetry
          sudo /usr/local/poetry/bin/pip install poetry==1.6
          sudo ln -s /usr/local/poetry/bin/poetry /bin/poetry
          export PATH=/bin:$PATH
      - name: Install Package
        run: poetry install
      - name: Test Package
        run: cp .env.example .env && poetry run pytest
      - name: Build Package Distributions
        run: poetry build
      - name: Publish Package Distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1